.container-fluid {
  height: 100vh;
  background-image: linear-gradient(135deg, #92FFC0 0%, #002661 100%);
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quote {
  width: 80%;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
}

.quote-left {
  float: left;
  padding-right: 20px;
}

.quote-right {
  float: right;
  padding-left: 20px;
}

.block {
  display: inline-block;
  width: 100%;
}

.settings-cog {
  float: right;
  margin-top: 20px;
  &:hover {
    cursor: pointer;
  }
}

.settings-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

div.menu-attributes {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.settings-menu {
  div:hover {
    cursor: default;
  }
  .settings-close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  div.settings-close:hover {
    cursor: pointer;
    color: #f1f1f1;
  }
}

.settings-save {
  margin-top: 75px;
}

#background-select {
  max-width: 100%;
}

.theme-light {
  color: white;
}

.theme-dark {
  color: black;
}

.created-block {
  width: 100%;
  position: relative;
}

.createdBy {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
}